.container {
  font-family: serif;
  margin: 0;
  position: relative;
  display: inline-block;
  float: left;
}

.cantShow {
  position: absolute;
}

.hidden {
  display: none;
}

.svg {
}

.trianglePath {
  fill-opacity: 0.12;
  stroke-width: 0.5%;
  stroke: black;
}

.label {
  text-anchor: middle;
}

.side {
  text-decoration: overline;
}

.arc {
  fill: transparent;
  stroke: rgba(0,0,200,0.54);
  stroke-width: 0.5%;
}

.circumcircle {
  stroke-width: 0.5%;
  stroke: rgba(200, 0, 0, 0.54);
  fill: transparent;
}
.circumcenter {
  fill: rgba(200, 0, 0, 0.87);
}
