.DebouncedTextInput__container {
  position: relative;
  height: 48px;
  width: 144px;
  display: inline-block;
  vertical-align: top;
}

.DebouncedTextInput__label {
  position: absolute;
  font-size: 12px;
}

.DebouncedTextInput__input {
  position: absolute;
  top: 16px;
  font-size: 16px;
  width: 144px;
}

.DebouncedTextInput__input--computed {
  color: rgba(0, 0, 200, 0.87);
}

.DebouncedTextInput__input--disabled {
  background-color: rgba(0, 0, 0, 0.12);
}

.DebouncedTextInput__clear {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 0;
  top: 16px;
  background-color: transparent;
  border-radius: 16px;
  outline: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.3);
  }
  svg {
    fill: $text2;
  }
}

.DebouncedTextInput__error {
  position: absolute;
  bottom: -4px;
  color: red;
  font-size: 12px;
  white-space: nowrap;
}
