.container {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.label {
  font-size: 12px;
  position: absolute;
}

.input {
  position: absolute;
  top: 16px;
  font-size: 16px;
  width: 16px;
  text-align: center;
}

.cursor {
  background-color: rgba(0, 0, 0, 0.12);
}
