.container {
  width: 6rem;
  height: 2rem;
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-end;
}

.label {
  position: absolute;
  font-size: 50%;
  top: 100%;
  left: 0.25rem;
  white-space: nowrap;
}

.input {
  font-size: 1rem;
  width: 100%;
  padding-left: 0.25rem;
}

.computed {
  color: rgba(0, 0, 200, 0.87);
}

.disabled {
  background-color: rgba(0, 0, 0, 0.12);
}

.clear {
  position: absolute;
  height: 1rem;
  width: 1rem;
  right: 0.25rem;
  bottom: 0.25rem;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
}

.clear:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.clear:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.clear svg {
  fill: var(--text2);
}

.error {
  color: red;
}
