.container {
  position: relative;
  height: 48px;
  padding-left: 48px;
}

.container:first-child {
  margin-top: 16px;
}

.label {
  position: absolute;
  left: 0;
  font-size: 12px;
}

.side {
  position: absolute;
  bottom: 6px;
  left: 0;
  font-size: 16px;
  text-decoration: overline;
}
