.Page__container {
  max-width: 900px;
  margin: 0 auto;
  @include top-rule;

  @include for-tablet-landscape-up {
    @include border-rules;
    margin: 16px auto;
    border-radius: 2px;
    box-shadow: 0 4px 4px $shadow;
    padding-left: 96px;
    padding-right: 48px;
    max-width: 756px;
    background-color: $fadedYellow;
  }
  background-color: $fadedYellow;
}

header {
  height: 48px;
  padding: 0 8px;
  @include for-tablet-landscape-up {
    background:
      linear-gradient(90deg,
        $divider 0,
        $divider 2px,
        transparent 2px,
        transparent 100%,
        $divider 100%)
        0 0 / 33.4% 100% repeat-x;
  }
}

main {
  @include grid;
  border-bottom: 2px solid $gridline;
  min-height: calc(100vh - 96px);
  padding: 24px;
  @include for-desktop-up {
    min-height: calc(100vh - 176px);
  }
}

footer {
  height: 32px;
  padding: 8px;
  font-size: 12px;
}
