.SideInput__container {
  width: 192px;
  height: 48px;
}

.SideInput__label {
  width: 48px;
  height: 12px;
  float: left;
  font-size: 12px;
}

.SideInput__side {
  width: 48px;
  height: 24px;
  margin-top: 8px;
  text-decoration: overline;
  font-size: 16px;
  float: left;
  clear: left;
}
