@import '../node_modules/normalize-scss/sass/normalize/import-now';
@import 'App';
@import 'CharInput';
@import 'Checkbox';
@import 'DebouncedTextInput';
@import 'DisplayPrefsForm';
@import 'MeasurementsForm';
@import 'PointInput';
@import 'RadioList';
@import 'SideInput';
@import 'TriangleDrawing';
@import 'breakpoints';
@import 'gridlines';

$text: rgba(0, 0, 0, 0.87);
$shadow: rgba(0, 0, 0, 0.2);
$left-margin: 96px;
$right-margin: 48px;
$header-height: 48px;
$footer-height: 0;
$horiz-margins: $left-margin + $right-margin;
$bg: #FFFDE7;
$cell: 24px;
